<h1>User info</h1>

<p class="show-text">User email</p>
<p><%= @user.email %></p>

<p class="show-text"> Password digest</p>
<p><%= @user.password_digest %></p>


<div><%= link_to"Back",root_path %></div>
